/* Styles for the Advanced Markup assignment. */
nav ul li {
  display: inline;
}
active {
  font-weight: bold;
}
#sidebar {
  width: 250px;
  float: right;
  margin: 30px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  background: yellow;
  
}
#content li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img{
  float: left;
  width: 400px;
  margin-right: 10px;
}
